# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Misc
*.zip

# Luacheck's Cache
.luacheckcache

# Vscode local config
.vscode
.vs

# Jetbrains local config
.idea

# Libraries
LuckyoneUI/Libs/Ace3/AceAddon-3.0
LuckyoneUI/Libs/Ace3/AceConfig-3.0
LuckyoneUI/Libs/Ace3/AceConsole-3.0
LuckyoneUI/Libs/Ace3/AceDB-3.0
LuckyoneUI/Libs/Ace3/AceDBOptions-3.0
LuckyoneUI/Libs/Ace3/AceEvent-3.0
LuckyoneUI/Libs/Ace3/AceGUI-3.0
LuckyoneUI/Libs/Ace3/AceLocale-3.0
LuckyoneUI/Libs/Ace3/AceTimer-3.0
LuckyoneUI/Libs/CallbackHandler-1.0
LuckyoneUI/Libs/LibDBIcon-1.0
LuckyoneUI/Libs/LibSharedMedia-3.0
LuckyoneUI/Libs/LibStub